USE [master]
GO
/****** Object:  Database [Dental]    Script Date: 12/08/2026 2:56:11 CH ******/
CREATE DATABASE [Dental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Dental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Dental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dental]
GO
/****** Object:  Table [dbo].[appointment_services]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointment_services](
	[appointment_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[appointment_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NULL,
	[doctor_id] [int] NULL,
	[appointment_date] [date] NOT NULL,
	[appointment_time] [time](7) NOT NULL,
	[status] [nvarchar](50) NULL,
	[notes] [nvarchar](max) NULL,
	[room] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clinic_configs]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clinic_configs](
	[config_id] [int] IDENTITY(1,1) NOT NULL,
	[opening_time] [time](7) NULL,
	[closing_time] [time](7) NULL,
	[clinic_info] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[config_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[examination_results]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examination_results](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [int] NULL,
	[result_details] [nvarchar](max) NULL,
	[examination_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicines]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicines](
	[medicine_id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_name] [nvarchar](100) NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[stock_quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[medicine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescribed_services]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescribed_services](
	[result_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescription_details]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescription_details](
	[prescription_id] [int] NOT NULL,
	[medicine_id] [int] NOT NULL,
	[prescribed_quantity] [int] NOT NULL,
	[purchased_quantity] [int] NULL,
	[unit_price] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[prescription_id] ASC,
	[medicine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescriptions]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescriptions](
	[prescription_id] [int] IDENTITY(1,1) NOT NULL,
	[result_id] [int] NULL,
	[instructions] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[service_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](18, 0) NOT NULL,
	[duration_minutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/08/2026 2:56:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[role_id] [int] NULL,
	[gender] [nvarchar](10) NULL,
	[dob] [date] NULL,
	[address] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[display_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[appointment_services] ([appointment_id], [service_id]) VALUES (2, 4)
INSERT [dbo].[appointment_services] ([appointment_id], [service_id]) VALUES (4, 1)
INSERT [dbo].[appointment_services] ([appointment_id], [service_id]) VALUES (4, 2)
GO
SET IDENTITY_INSERT [dbo].[appointments] ON 

INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [appointment_time], [status], [notes], [room]) VALUES (2, 6, 3, CAST(N'2026-03-12' AS Date), CAST(N'10:00:00' AS Time), N'Completed', N'Cần trám lại bọc răng', N'Phòng 2')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [appointment_time], [status], [notes], [room]) VALUES (4, 7, 8, CAST(N'2036-05-06' AS Date), CAST(N'13:00:00' AS Time), N'Checked In', NULL, N'Phòng 2')
INSERT [dbo].[appointments] ([appointment_id], [patient_id], [doctor_id], [appointment_date], [appointment_time], [status], [notes], [room]) VALUES (5, 7, 3, CAST(N'2036-04-04' AS Date), CAST(N'13:00:00' AS Time), N'Checked In', N'', N'Phòng 2')
SET IDENTITY_INSERT [dbo].[appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[clinic_configs] ON 

INSERT [dbo].[clinic_configs] ([config_id], [opening_time], [closing_time], [clinic_info]) VALUES (1, CAST(N'08:00:00' AS Time), CAST(N'20:00:00' AS Time), N'Nha Khoa Dental - Chăm sóc nụ cười của bạn')
SET IDENTITY_INSERT [dbo].[clinic_configs] OFF
GO
SET IDENTITY_INSERT [dbo].[examination_results] ON 

INSERT [dbo].[examination_results] ([result_id], [appointment_id], [result_details], [examination_date]) VALUES (2, 8, N'Do ăn phải khô gà loại 2', CAST(N'2026-03-19T09:41:07.423' AS DateTime))
INSERT [dbo].[examination_results] ([result_id], [appointment_id], [result_details], [examination_date]) VALUES (3, 10, N'chảy máu chân răng', CAST(N'2026-03-19T13:24:01.363' AS DateTime))
INSERT [dbo].[examination_results] ([result_id], [appointment_id], [result_details], [examination_date]) VALUES (4, 16, N'a', CAST(N'2026-03-24T08:51:27.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[examination_results] OFF
GO
SET IDENTITY_INSERT [dbo].[medicines] ON 

INSERT [dbo].[medicines] ([medicine_id], [medicine_name], [price], [stock_quantity]) VALUES (1, N'Paracetamol 500mg', CAST(2000 AS Decimal(18, 0)), 1000)
INSERT [dbo].[medicines] ([medicine_id], [medicine_name], [price], [stock_quantity]) VALUES (2, N'Amoxicillin 500mg', CAST(5000 AS Decimal(18, 0)), 500)
INSERT [dbo].[medicines] ([medicine_id], [medicine_name], [price], [stock_quantity]) VALUES (3, N'Ibuprofen 400mg', CAST(3000 AS Decimal(18, 0)), 800)
SET IDENTITY_INSERT [dbo].[medicines] OFF
GO
INSERT [dbo].[prescribed_services] ([result_id], [service_id], [status], [notes]) VALUES (3, 6, N'Pending', N'')
INSERT [dbo].[prescribed_services] ([result_id], [service_id], [status], [notes]) VALUES (4, 1, N'Pending', N'')
INSERT [dbo].[prescribed_services] ([result_id], [service_id], [status], [notes]) VALUES (4, 4, N'Pending', N'')
GO
INSERT [dbo].[prescription_details] ([prescription_id], [medicine_id], [prescribed_quantity], [purchased_quantity], [unit_price]) VALUES (2, 4, 1, 0, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[prescription_details] ([prescription_id], [medicine_id], [prescribed_quantity], [purchased_quantity], [unit_price]) VALUES (3, 1, 1, 0, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[prescription_details] ([prescription_id], [medicine_id], [prescribed_quantity], [purchased_quantity], [unit_price]) VALUES (3, 2, 1, 0, CAST(0 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[prescriptions] ON 

INSERT [dbo].[prescriptions] ([prescription_id], [result_id], [instructions]) VALUES (2, 2, N'Uống sau ăn sáng,tối 2 lần')
INSERT [dbo].[prescriptions] ([prescription_id], [result_id], [instructions]) VALUES (3, 3, N'uống sau ăn 2 lần')
INSERT [dbo].[prescriptions] ([prescription_id], [result_id], [instructions]) VALUES (4, 4, N'a')
SET IDENTITY_INSERT [dbo].[prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (1, N'ADMIN')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (2, N'DOCTOR')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (4, N'STAFF')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[services] ON 

INSERT [dbo].[services] ([service_id], [service_name], [description], [price], [duration_minutes]) VALUES (1, N'Khám tổng quát', N'Khám và tư vấn tình trạng răng miệng cơ bản', CAST(100000 AS Decimal(18, 0)), 30)
INSERT [dbo].[services] ([service_id], [service_name], [description], [price], [duration_minutes]) VALUES (2, N'Nhổ răng khôn', N'Tiểu phẫu nhổ răng khôn (răng số 8)', CAST(1500000 AS Decimal(18, 0)), 60)
INSERT [dbo].[services] ([service_id], [service_name], [description], [price], [duration_minutes]) VALUES (3, N'Tẩy trắng răng', N'Tẩy trắng răng bằng công nghệ Laser', CAST(2000000 AS Decimal(18, 0)), 45)
SET IDENTITY_INSERT [dbo].[services] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [full_name], [email], [password], [phone], [role_id], [gender], [dob], [address], [created_at], [display_order]) VALUES (1, N'System Admin', N'admin@dental.com', N'admin', N'0123456789', 1, N'M', CAST(N'1980-01-01' AS Date), N'Hà Nội', CAST(N'2026-03-11T11:38:13.680' AS DateTime), 1)
INSERT [dbo].[users] ([user_id], [full_name], [email], [password], [phone], [role_id], [gender], [dob], [address], [created_at], [display_order]) VALUES (2, N'BS. Nguyễn Văn A', N'doctor1@dental.com', N'123', N'0987654321', 2, N'M', CAST(N'1985-05-15' AS Date), N'TP. Hồ Chí Minh', CAST(N'2026-03-11T11:38:13.680' AS DateTime), 2)
INSERT [dbo].[users] ([user_id], [full_name], [email], [password], [phone], [role_id], [gender], [dob], [address], [created_at], [display_order]) VALUES (3, N'BS. Trần Thị B', N'doctor2@dental.com', N'123', N'0987654322', 2, N'F', CAST(N'1988-10-20' AS Date), N'Đà Nẵng', CAST(N'2026-03-11T11:38:13.680' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ__examinat__A50828FD54A67BE3]    Script Date: 12/08/2026 2:56:12 CH ******/
ALTER TABLE [dbo].[examination_results] ADD UNIQUE NONCLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__prescrip__AFB3C317D1841011]    Script Date: 12/08/2026 2:56:12 CH ******/
ALTER TABLE [dbo].[prescriptions] ADD UNIQUE NONCLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61640E296725]    Script Date: 12/08/2026 2:56:12 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointments] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[examination_results] ADD  DEFAULT (getdate()) FOR [examination_date]
GO
ALTER TABLE [dbo].[prescribed_services] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[prescription_details] ADD  DEFAULT ((0)) FOR [purchased_quantity]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[appointment_services]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([service_id])
GO
ALTER TABLE [dbo].[appointment_services]  WITH CHECK ADD  CONSTRAINT [FK_appointment_services_appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([appointment_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[appointment_services] CHECK CONSTRAINT [FK_appointment_services_appointment]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([patient_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[examination_results]  WITH CHECK ADD FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[prescribed_services]  WITH CHECK ADD FOREIGN KEY([result_id])
REFERENCES [dbo].[examination_results] ([result_id])
GO
ALTER TABLE [dbo].[prescribed_services]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([service_id])
GO
ALTER TABLE [dbo].[prescription_details]  WITH CHECK ADD FOREIGN KEY([medicine_id])
REFERENCES [dbo].[medicines] ([medicine_id])
GO
ALTER TABLE [dbo].[prescription_details]  WITH CHECK ADD  CONSTRAINT [FK_prescription_details_prescription] FOREIGN KEY([prescription_id])
REFERENCES [dbo].[prescriptions] ([prescription_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[prescription_details] CHECK CONSTRAINT [FK_prescription_details_prescription]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD FOREIGN KEY([result_id])
REFERENCES [dbo].[examination_results] ([result_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[medicines]  WITH CHECK ADD  CONSTRAINT [CK_medicines_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[medicines] CHECK CONSTRAINT [CK_medicines_price]
GO
ALTER TABLE [dbo].[prescription_details]  WITH CHECK ADD  CONSTRAINT [CK_prescription_details_unit_price] CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[prescription_details] CHECK CONSTRAINT [CK_prescription_details_unit_price]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [CK_services_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [CK_services_price]
GO
USE [master]
GO
